src/com/db/immigration/action/USCIS/BPEL/USCISStage7/USCISService.wsdl

<!--
  Copyright: 2018 Menschforce Foundation www.menschforce.org/copyright/
  
  License: digiBlitz Public License 1.0 (DPL) administered by digiBlitz Foundation. www.digiblitz.org/dpl/
  
  Inventor: Suresh Kannan (Maya Suresh Kannan Balabisegan ) (www.sureshkannan.org)
  
  Authors: Suresh Kannan (Maya Suresh Kannan Balabisegan )& digiBlitz.
  
  "Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software in accordance to the rules & restrictions of the digiBlitz Public License."
-->
<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-b05-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-b05-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.USCIS.action.immigration.db.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.USCIS.action.immigration.db.com/" name="USCISServiceService">
<types />
<message name="Stage1">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
<part name="arg2" type="xsd:string" />
<part name="arg3" type="xsd:string" />
<part name="arg4" type="xsd:string" />
<part name="arg5" type="xsd:string" />
<part name="arg6" type="xsd:string" />
<part name="arg7" type="xsd:string" />
<part name="arg8" type="xsd:string" />
<part name="arg9" type="xsd:string" />
<part name="arg10" type="xsd:string" />
<part name="arg11" type="xsd:string" />
</message>
<message name="Stage1Response">
<part name="return" type="xsd:string" />
</message>
<message name="Stage2">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
<part name="arg2" type="xsd:string" />
<part name="arg3" type="xsd:string" />
<part name="arg4" type="xsd:string" />
<part name="arg5" type="xsd:string" />
<part name="arg6" type="xsd:string" />
</message>
<message name="Stage2Response">
<part name="return" type="xsd:string" />
</message>
<message name="Stage3">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
<part name="arg2" type="xsd:string" />
<part name="arg3" type="xsd:string" />
</message>
<message name="Stage3Response">
<part name="return" type="xsd:string" />
</message>
<message name="Stage4">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
<part name="arg2" type="xsd:string" />
<part name="arg3" type="xsd:string" />
<part name="arg4" type="xsd:string" />
</message>
<message name="Stage4Response">
<part name="return" type="xsd:string" />
</message>
<message name="Stage5">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
<part name="arg2" type="xsd:string" />
<part name="arg3" type="xsd:string" />
<part name="arg4" type="xsd:string" />
<part name="arg5" type="xsd:string" />
<part name="arg6" type="xsd:string" />
</message>
<message name="Stage5Response">
<part name="return" type="xsd:string" />
</message>
<message name="Stage6">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
<part name="arg2" type="xsd:string" />
<part name="arg3" type="xsd:string" />
<part name="arg4" type="xsd:string" />
<part name="arg5" type="xsd:string" />
<part name="arg6" type="xsd:string" />
<part name="arg7" type="xsd:string" />
</message>
<message name="Stage6Response">
<part name="return" type="xsd:string" />
</message>
<message name="Stage7">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
<part name="arg2" type="xsd:string" />
<part name="arg3" type="xsd:string" />
<part name="arg4" type="xsd:string" />
<part name="arg5" type="xsd:string" />
<part name="arg6" type="xsd:string" />
</message>
<message name="Stage7Response">
<part name="return" type="xsd:string" />
</message>
<message name="Stage8">
<part name="arg0" type="xsd:string" />
<part name="arg1" type="xsd:string" />
<part name="arg2" type="xsd:string" />
<part name="arg3" type="xsd:string" />
<part name="arg4" type="xsd:string" />
<part name="arg5" type="xsd:string" />
<part name="arg6" type="xsd:string" />
<part name="arg7" type="xsd:string" />
<part name="arg8" type="xsd:string" />
<part name="arg9" type="xsd:string" />
</message>
<message name="Stage8Response">
<part name="return" type="xsd:string" />
</message>
<portType name="USCISStagesService">
<operation name="Stage1" parameterOrder="arg0 arg1 arg2 arg3 arg4 arg5 arg6 arg7 arg8 arg9 arg10 arg11">
<input wsam:Action="http://service.USCIS.action.immigration.db.com/USCISStagesService/Stage1Request" message="tns:Stage1" />
<output wsam:Action="http://service.USCIS.action.immigration.db.com/USCISStagesService/Stage1Response" message="tns:Stage1Response" />
</operation>
<operation name="Stage2" parameterOrder="arg0 arg1 arg2 arg3 arg4 arg5 arg6">
<input wsam:Action="http://service.USCIS.action.immigration.db.com/USCISStagesService/Stage2Request" message="tns:Stage2" />
<output wsam:Action="http://service.USCIS.action.immigration.db.com/USCISStagesService/Stage2Response" message="tns:Stage2Response" />
</operation>
<operation name="Stage3" parameterOrder="arg0 arg1 arg2 arg3">
<input wsam:Action="http://service.USCIS.action.immigration.db.com/USCISStagesService/Stage3Request" message="tns:Stage3" />
<output wsam:Action="http://service.USCIS.action.immigration.db.com/USCISStagesService/Stage3Response" message="tns:Stage3Response" />
</operation>
<operation name="Stage4" parameterOrder="arg0 arg1 arg2 arg3 arg4">
<input wsam:Action="http://service.USCIS.action.immigration.db.com/USCISStagesService/Stage4Request" message="tns:Stage4" />
<output wsam:Action="http://service.USCIS.action.immigration.db.com/USCISStagesService/Stage4Response" message="tns:Stage4Response" />
</operation>
<operation name="Stage5" parameterOrder="arg0 arg1 arg2 arg3 arg4 arg5 arg6">
<input wsam:Action="http://service.USCIS.action.immigration.db.com/USCISStagesService/Stage5Request" message="tns:Stage5" />
<output wsam:Action="http://service.USCIS.action.immigration.db.com/USCISStagesService/Stage5Response" message="tns:Stage5Response" />
</operation>
<operation name="Stage6" parameterOrder="arg0 arg1 arg2 arg3 arg4 arg5 arg6 arg7">
<input wsam:Action="http://service.USCIS.action.immigration.db.com/USCISStagesService/Stage6Request" message="tns:Stage6" />
<output wsam:Action="http://service.USCIS.action.immigration.db.com/USCISStagesService/Stage6Response" message="tns:Stage6Response" />
</operation>
<operation name="Stage7" parameterOrder="arg0 arg1 arg2 arg3 arg4 arg5 arg6">
<input wsam:Action="http://service.USCIS.action.immigration.db.com/USCISStagesService/Stage7Request" message="tns:Stage7" />
<output wsam:Action="http://service.USCIS.action.immigration.db.com/USCISStagesService/Stage7Response" message="tns:Stage7Response" />
</operation>
<operation name="Stage8" parameterOrder="arg0 arg1 arg2 arg3 arg4 arg5 arg6 arg7 arg8 arg9">
<input wsam:Action="http://service.USCIS.action.immigration.db.com/USCISStagesService/Stage8Request" message="tns:Stage8" />
<output wsam:Action="http://service.USCIS.action.immigration.db.com/USCISStagesService/Stage8Response" message="tns:Stage8Response" />
</operation>
</portType>
<binding name="USCISServicePortBinding" type="tns:USCISStagesService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
<operation name="Stage1">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://service.USCIS.action.immigration.db.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://service.USCIS.action.immigration.db.com/" />
</output>
</operation>
<operation name="Stage2">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://service.USCIS.action.immigration.db.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://service.USCIS.action.immigration.db.com/" />
</output>
</operation>
<operation name="Stage3">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://service.USCIS.action.immigration.db.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://service.USCIS.action.immigration.db.com/" />
</output>
</operation>
<operation name="Stage4">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://service.USCIS.action.immigration.db.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://service.USCIS.action.immigration.db.com/" />
</output>
</operation>
<operation name="Stage5">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://service.USCIS.action.immigration.db.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://service.USCIS.action.immigration.db.com/" />
</output>
</operation>
<operation name="Stage6">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://service.USCIS.action.immigration.db.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://service.USCIS.action.immigration.db.com/" />
</output>
</operation>
<operation name="Stage7">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://service.USCIS.action.immigration.db.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://service.USCIS.action.immigration.db.com/" />
</output>
</operation>
<operation name="Stage8">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" namespace="http://service.USCIS.action.immigration.db.com/" />
</input>
<output>
<soap:body use="literal" namespace="http://service.USCIS.action.immigration.db.com/" />
</output>
</operation>
</binding>
<service name="USCISServiceService">
<port name="USCISServicePort" binding="tns:USCISServicePortBinding">
<soap:address location="https://www.digiblitzonline.com:8843/menschforce/USCIS/USCISService" />
</port>
</service>
</definitions>
